<a href="https://colab.research.google.com/github/jeevanchavan143/-DataScience-Blogging-Platform/blob/master/Traffic_Volume_Pred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
#Loading libraries  
import numpy as np  
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns  
%matplotlib inline 
plt.rcParams['figure.figsize'] = (10.0, 8.0)

In [89]:
#loading data 
train = pd.read_csv("/content/Train.csv") 
test = pd.read_csv("/content/Test.csv")

In [90]:
train.columns

Index(['date_time', 'is_holiday', 'air_pollution_index', 'humidity',
       'wind_speed', 'wind_direction', 'visibility_in_miles', 'dew_point',
       'temperature', 'rain_p_h', 'snow_p_h', 'clouds_all', 'weather_type',
       'weather_description', 'traffic_volume'],
      dtype='object')

In [91]:
test.columns

Index(['date_time', 'is_holiday', 'air_pollution_index', 'humidity',
       'wind_speed', 'wind_direction', 'visibility_in_miles', 'dew_point',
       'temperature', 'rain_p_h', 'snow_p_h', 'clouds_all', 'weather_type',
       'weather_description'],
      dtype='object')

In [92]:
train.head()

             date_time is_holiday  ...  weather_description  traffic_volume
0  2012-10-02 09:00:00       None  ...     scattered clouds            5545
1  2012-10-02 10:00:00       None  ...        broken clouds            4516
2  2012-10-02 11:00:00       None  ...      overcast clouds            4767
3  2012-10-02 12:00:00       None  ...      overcast clouds            5026
4  2012-10-02 13:00:00       None  ...        broken clouds            4918

[5 rows x 15 columns]

In [93]:
test.head()

             date_time is_holiday  ...  weather_type      weather_description
0  2017-05-18 00:00:00       None  ...          Rain            moderate rain
1  2017-05-18 00:00:00       None  ...          Mist                     mist
2  2017-05-18 00:00:00       None  ...       Drizzle  light intensity drizzle
3  2017-05-18 01:00:00       None  ...          Rain     heavy intensity rain
4  2017-05-18 01:00:00       None  ...          Mist                     mist

[5 rows x 14 columns]

In [94]:
train.shape

(33750, 15)

In [95]:
test.shape

(14454, 14)

In [96]:
'''duplicateRowsDF = train[train.duplicated(['date_time'])]
duplicateRowsDF
train.drop_duplicates(subset ="date_time", keep = "first", inplace = True) 
'''
#deleting the rows with duplicated date_time column
train = train[train['date_time'].duplicated()==False]
train.shape

(28589, 15)

In [97]:
#Finding missing vaules in dataset
train.isnull().sum()

date_time              0
is_holiday             0
air_pollution_index    0
humidity               0
wind_speed             0
wind_direction         0
visibility_in_miles    0
dew_point              0
temperature            0
rain_p_h               0
snow_p_h               0
clouds_all             0
weather_type           0
weather_description    0
traffic_volume         0
dtype: int64

In [98]:
test.isnull().sum()

date_time              0
is_holiday             0
air_pollution_index    0
humidity               0
wind_speed             0
wind_direction         0
visibility_in_miles    0
dew_point              0
temperature            0
rain_p_h               0
snow_p_h               0
clouds_all             0
weather_type           0
weather_description    0
dtype: int64

In [99]:
train.describe() #statistical info

       air_pollution_index      humidity  ...    clouds_all  traffic_volume
count         28589.000000  28589.000000  ...  28589.000000    28589.000000
mean            154.970898     70.991675  ...     45.457659     3266.878380
std              83.774034     16.908355  ...     38.713725     1989.318912
min              10.000000     13.000000  ...      0.000000        0.000000
25%              83.000000     60.000000  ...      1.000000     1215.000000
50%             156.000000     72.000000  ...     40.000000     3369.000000
75%             228.000000     85.000000  ...     90.000000     4944.000000
max             299.000000    100.000000  ...    100.000000     7280.000000

[8 rows x 11 columns]

In [100]:
train.dtypes

date_time               object
is_holiday              object
air_pollution_index      int64
humidity                 int64
wind_speed               int64
wind_direction           int64
visibility_in_miles      int64
dew_point                int64
temperature            float64
rain_p_h               float64
snow_p_h               float64
clouds_all               int64
weather_type            object
weather_description     object
traffic_volume           int64
dtype: object

In [101]:
#Converting is_holiday column to categorical
#Alternative to Label Encoding
train['is_holiday']=train['is_holiday'].apply(lambda x: 1 if x!='None' else 0)

I decided to adopt a mapping approach of converting holiday into an ordinal set of 2 categories -- 0 and 1 where 0 represents "None" and 1 represents a holiday. In this case, I assumed that the types of holidays do not have a significant effect on traffic_volume, just the fact that it is a holiday does.

In [102]:
#One Hot Encoding
dummies_weather = pd.get_dummies(train['weather_type'])
dummies_weather
train = train.drop('weather_type', axis = 1)
train = pd.concat([train, dummies_weather], axis='columns')
print(train.columns)

Index(['date_time', 'is_holiday', 'air_pollution_index', 'humidity',
       'wind_speed', 'wind_direction', 'visibility_in_miles', 'dew_point',
       'temperature', 'rain_p_h', 'snow_p_h', 'clouds_all',
       'weather_description', 'traffic_volume', 'Clear', 'Clouds', 'Drizzle',
       'Fog', 'Haze', 'Mist', 'Rain', 'Smoke', 'Snow', 'Squall',
       'Thunderstorm'],
      dtype='object')

In [103]:
''''
#Don't underestimate any feature
dummies_weather2 = pd.get_dummies(train['weather_description'])
dummies_weather2
train = train.drop('weather_description', axis = 1)
train = pd.concat([train, dummies_weather2], axis='columns')
print(train.columns)
'''

"'\n#Don't underestimate any feature\ndummies_weather2 = pd.get_dummies(train['weather_description'])\ndummies_weather2\ntrain = train.drop('weather_description', axis = 1)\ntrain = pd.concat([train, dummies_weather2], axis='columns')\nprint(train.columns)\n"

I decided to use one hot encoding to convert weather_main & weather_description into a set of dummy variables as we do not want the machine to establish any relations such as drizzle > sky is clear for e.g.

In [104]:
from datetime import datetime
train['date_time'] = pd.to_datetime(train.date_time)
train['year'] = train['date_time'].dt.year
train['month'] = train['date_time'].dt.month
train['day'] = train['date_time'].dt.day
train['dayofyear'] = train['date_time'].dt.dayofyear
train['weekofyear'] = train['date_time'].dt.weekofyear
#train['dayofweek'] = train['date_time'].dt.dayofweek
train['hour'] = train['date_time'].dt.hour

#if day is 5th-Saturday or 6th-Sunday , then it is a weekend
d1 = {5:1,6:1,1:0,2:0,3:0,4:0,0:0}
#creating new features
train['is_weekend']=train.date_time.dt.dayofweek
train['is_weekend']=train['is_weekend'].map(d1)
train = train.drop(columns=['date_time','weather_description','air_pollution_index','humidity','temperature','wind_direction'])
train=train.drop(columns=['Squall'])
train.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  import sys

   is_holiday  wind_speed  visibility_in_miles  ...  weekofyear  hour  is_weekend
0           0           2                    1  ...          40     9           0
1           0           3                    1  ...          40    10           0
2           0           3                    2  ...          40    11           0
3           0           3                    5  ...          40    12           0
4           0           3                    7  ...          40    13           0

[5 rows x 25 columns]

In [105]:
#Converting is_holiday column to categorical
#Alternative to Label Encoding
test['is_holiday']=test['is_holiday'].apply(lambda x: 1 if x!='None' else 0)
#One Hot Encoding
dummies_weather = pd.get_dummies(test['weather_type'])
dummies_weather
test = test.drop('weather_type', axis = 1)
test = pd.concat([test, dummies_weather], axis='columns')

'''
#One hot encoding for weather description
dummies_weather2 = pd.get_dummies(test['weather_description'])
dummies_weather2
test = test.drop('weather_description', axis = 1)
test = pd.concat([test, dummies_weather2], axis='columns')
'''
from datetime import datetime
test['date_time'] = pd.to_datetime(test.date_time)
test['year'] = test['date_time'].dt.year
test['month'] = test['date_time'].dt.month
test['day'] = test['date_time'].dt.day
test['dayofyear'] = test['date_time'].dt.dayofyear
test['weekofyear'] = test['date_time'].dt.weekofyear
#test['dayofweek'] = test['date_time'].dt.dayofweek
test['hour'] = test['date_time'].dt.hour

#if day is 5th-Saturday or 6th-Sunday , then it is a weekend
d2 = {5:1,6:1,1:0,2:0,3:0,4:0,0:0}
#creating new features
test['is_weekend']=test.date_time.dt.dayofweek
test['is_weekend']=test['is_weekend'].map(d2)
x_test = test.drop(columns=['date_time','weather_description','air_pollution_index','humidity','temperature','wind_direction'])
x_test.shape

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

(14454, 24)

In [106]:
x_train=train.drop(columns=['traffic_volume'])
y_train=train['traffic_volume']

In [107]:
print(train.shape)
print(x_test.shape)

(28589, 25)
(14454, 24)

In [108]:

#Using random Forest Regression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold,cross_val_score
random_model = RandomForestRegressor(n_estimators=20)
random_model.fit(x_train,y_train)
cross_val_score(estimator=random_model,X=x_train, y=y_train,cv=5).mean()

0.926440433284186

In [109]:

random_pred=random_model.predict(x_test)
random_pred=list(random_pred)
random_pred_int = [float(round(i)) for i in random_pred]
print(len(random_pred))

14454

In [110]:

submission=pd.DataFrame()
submission['date_time']=test['date_time']
submission['traffic_volume']=random_pred_int
submission.to_csv('submission.csv',index=False)